<mat-card *ngIf="books" class="card"  [ngStyle]="{backgroundColor: bColor}">
    <mat-card-header>
      <mat-card-subtitle *ngIf="authors">{{authors.name}}</mat-card-subtitle>
      <mat-card-title>{{books.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <p>{{ books.subjects[0] }}</p>
   
      <div class="spacer"> </div>
         <hr>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/book-details/{{books.id}}"> DETTAGLI </a>
      
        <button (click)="storage.toggleFavourites(books)">{{storage.isFavourite(books)?'rimuovi':'salva'}}</button>
      
    </mat-card-actions>
    <mat-card-footer>
    
    </mat-card-footer>
  </mat-card>
  








