
<div class="book-container">
<mat-card class="example-card" *ngIf="book" class="card" >
    <mat-card-header>
      <mat-card-subtitle>{{book.authors[0].name}}</mat-card-subtitle>
      <mat-card-subtitle>Anno di nascita: {{book.authors[0].birth_year}}</mat-card-subtitle>
      <mat-card-subtitle>Anno di morte: {{book.authors[0].death_year}}</mat-card-subtitle>
      
    </mat-card-header>
    <div class="spacer"> </div>
      <mat-card-title>{{book.title}}</mat-card-title>
    
    <mat-card-content>
      <hr>
      <p>Lingua: {{ book.languages }}</p>

      <p> Subjects: </p>
      <ul *ngIf="book.subjects"> 
        <li *ngFor="let sub of book.subjects"> {{sub}}</li>
      </ul>
      
      
    </mat-card-content>
    
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>
   </div>