
<div class="book-container">
<mat-card class="example-card" *ngIf="book" class="card" >
    <mat-card-header>
      <mat-card-subtitle>Autore : {{book.authors[0].name}}</mat-card-subtitle>
      <mat-card-subtitle>Anno di nascita: {{book.authors[0].birth_year}}</mat-card-subtitle>
      <mat-card-subtitle>Anno di morte: {{book.authors[0].death_year}}</mat-card-subtitle>
      <mat-card-title>Titolo: {{book.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <p>Lingua: {{ book.languages }}</p>

      <p> Genere: </p>
      <ul *ngIf="book.subjects"> 
        <li *ngFor="let sub of book.subjects"> {{sub}}</li>
      </ul>
      
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>
   </div>