.title-header{
    font-family: 'Norican', cursive;
    font-size: 80px;
}

.toolbar{
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.toolbar-subtitle{
    display: flex;
    justify-content: center;
}

.btn-page-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

