@import url('https://fonts.googleapis.com/css2?family=Norican&family=Playfair+Display&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: rgb(47, 47, 47);}


a{
    text-decoration: none;
    color: initial;
}